@using Microsoft.AspNetCore.Authorization
@using RPGCharacterBuilderWebApp1.Shared.Models.Character
@attribute [Authorize]
@inject HttpClient http
@page "/character/{CharacterId:int}"

<h3>Character #@CharacterId</h3>

@if (Character != null)
{
    <div class="container">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <span>Character #@Character.Id</span>
                <span class="text-muted"><strong>@Character.ArmorName</strong></span>
            </div>
            <div class="card-body">
                <h4 class="card-title">@Character.Name</h4>
                <p class="card-text">@Character.Health</p>
            </div>
            <div class="card-footer text-muted d-flex justify-content-between">
                <span class="text-left">Created: @Character.CreatedUtc</span>
                @if (Character.ModifiedUtc != null)
                {
                    <span class="text-right">Modified: @Character.ModifiedUtc</span>
                }
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <div class="text-center justify-content-between w-25">
                <a href=@($"/character/edit/{Character.Id}") class="btn btn-outline-primary">Edit</a>
                <a href=@($"/character/delete/{Character.Id}") class="btn btn-outline-danger">Delete</a>
                <hr />
                <a href="/character">Back To Character Index</a>
            </div>
        </div>
    </div>
}
else
{
    <p>Loading...</p>
}

@code {
    [Parameter]
    public int CharacterId { get; set; }
    public CharacterDetail Character { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Character = await http.GetFromJsonAsync<CharacterDetail>($"/api/character/{CharacterId}");
    }
}
