@using Microsoft.AspNetCore.Authorization
@using RPGCharacterBuilderWebApp1.Shared.Models.Armor
@using RPGCharacterBuilderWebApp1.Shared.Models.Character
@using RPGCharacterBuilderWebApp1.Shared.Models.MagicItem
@using RPGCharacterBuilderWebApp1.Shared.Models.Weapon
@attribute [Authorize]
@inject HttpClient http
@page "/characters/{CharacterId:int}"

<h3 class="text-center">@Character.Name</h3>

@if (Character != null)
{
    <div class="container">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <span>Character's Equipped Items</span>
                <span class="text-muted"><strong>@Character.ArmorName</strong></span>
                <span class="text-muted"><strong>@Character.WeaponName</strong></span>
                <span class="text-muted"><strong>@Character.MagicItemName</strong></span>
            </div>
            <div class="card-body d-flex justify-content-between">
                <div class="card-body">
                    <h4 class="card-title">Character Stats!</h4>
                    <p class="card-text">Health : @Character.Health</p>
                    <p class="card-text">Strength : @Character.Strength</p>
                    <p class="card-text">Stamina : @Character.Stamina</p>
                    <p class="card-text">Speed : @Character.Speed</p>
                    <p class="card-text">Mana : @Character.Mana</p>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Armor Stats!</h4>
                    <p class="card-text">+ : @Character.Health</p>
                    <p class="card-text">Strength : @Character.Strength</p>
                    <p class="card-text">Stamina : @Character.Stamina</p>
                    <p class="card-text">Speed : @Character.Speed</p>
                    <p class="card-text">Mana : @Character.Mana</p>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Weapon Stats!</h4>
                    <p class="card-text">Health : @Character.Health</p>
                    <p class="card-text">Strength : @Character.Strength</p>
                    <p class="card-text">Stamina : @Character.Stamina</p>
                    <p class="card-text">Speed : @Character.Speed</p>
                    <p class="card-text">Mana : @Character.Mana</p>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Magic Item Stats!</h4>
                    <p class="card-text">Health : @Character.Health</p>
                    <p class="card-text">Strength : @Character.Strength</p>
                    <p class="card-text">Stamina : @Character.Stamina</p>
                    <p class="card-text">Speed : @Character.Speed</p>
                    <p class="card-text">Mana : @Character.Mana</p>
                </div>
            </div>
            <div class="card-footer text-muted d-flex justify-content-between">
                <span class="text-left">Created: @Character.CreatedUtc</span>
                @if (Character.ModifiedUtc != null)
                {
                    <span class="text-right">Modified: @Character.ModifiedUtc</span>
                }
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <div class="text-center justify-content-between w-25">
                <a href=@($"/characters/edit/{Character.Id}") class="btn btn-outline-primary">Edit</a>
                <a href=@($"/characters/delete/{Character.Id}") class="btn btn-outline-danger">Delete</a>
                <hr />
                <a href="/characters">Back To Character Index</a>
            </div>
        </div>
    </div>
}
else
{
    <p>Loading...</p>
}

@code {
    [Parameter]
    public int CharacterId { get; set; }
    //[Parameter]
    //public int ArmorId { get; set; }

    public CharacterDetail Character { get; set; }
    public ArmorDetail Armor { get; set; }
    public WeaponDetail Weapons { get; set; }
    public MagicItemDetail MagicItems { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Character = await http.GetFromJsonAsync<CharacterDetail>($"/api/characters/{CharacterId}");
        //Armor = await http.GetFromJsonAsync<ArmorDetail>($"/api/armor/{Character.ArmorId}");
    }
}
